<div class='containerfluid  list-group banner_l'>
  <h1 class='text-center text-white py-3'>Tu t'ennuies <span class="text-warning">...</span></h1><br><BR></h1>
  <h4 class='container pl-5 mt-5 text-white text-end'>Fait un tour sur le site et tu trouveras de quoi t'occuper. <br>En plus d'accéder à des milliers d'évènements sur la ville de Pau tu peux créer le tiens !</h4>
  <div class='text-center container'>
    <a href='<%=new_event_path%>' type="button" class="btn btn-outline-warning btn-lg">Lance toi et viens créer ton premier évènement ... </a>
  </div>
</div>