<div class='containerfluid py-5'>
  <div class='container text-center border border-5 border-warning mt-5 p-5 rounded-pill  '>
    <h2 class=yellow>Merci pour le paiement de : <%=@amount%> €</h2>
    <br>
    <p>Vous êtes bien inscrit à l'évènement <%=@event.title%>
    <br>
    <br>
    <a class="btn btn-outline-warning" href=<%=event_path(@event.id)%> role="button">Retour à l'évènement</a>
  </div>
</div>